<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    <img class="not-found-img" src="https://imgs.search.brave.com/BohLLlseirHl5IXH57WxbXjAaNwm4C8O7wZbWaCoyOs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/dmVjdG9yc3RvY2su/Y29tL2kvcHJldmll/dy0xeC81My84NC80/MDQtcGFnZS1ub3Qt/Zm91bmQtaHR0cC1l/cnJvci1tZXNzYWdl/LXZlY3Rvci0yMzMy/NTM4NC5qcGc" /> 
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>